
.cc-icon-mail:before { content: '\e800'; } /* '' */
.cc-icon-mail-alt:before { content: '\e801'; } /* '' */
.cc-icon-facebook:before { content: '\e802'; } /* '' */
.cc-icon-twitter:before { content: '\e803'; } /* '' */
.cc-icon-cc:before { content: '\e804'; } /* '' */
.cc-icon-search:before { content: '\e805'; } /* '' */
.cc-icon-globe-inv:before { content: '\e806'; } /* '' */
.cc-icon-cc-by:before { content: '\e807'; } /* '' */
.cc-icon-down-dir:before { content: '\e808'; } /* '' */
.cc-icon-left-dir:before { content: '\e809'; } /* '' */
.cc-icon-right-dir:before { content: '\e80a'; } /* '' */
.cc-icon-up-dir:before { content: '\e80b'; } /* '' */
.cc-icon-twitter-circled:before { content: '\e80c'; } /* '' */
.cc-icon-facebook-circled:before { content: '\e80d'; } /* '' */
.cc-icon-menu:before { content: '\e80e'; } /* '' */
.cc-icon-cancel:before { content: '\e80f'; } /* '' */
.cc-icon-heart-empty:before { content: '\e810'; } /* '' */
.cc-icon-linkedin-circled:before { content: '\e811'; } /* '' */
.cc-icon-mail-circled:before { content: '\e812'; } /* '' */
.cc-icon-dollar:before { content: '\e813'; } /* '' */
.cc-icon-quote:before { content: '\e814'; } /* '' */
.cc-icon-circle:before { content: '\e815'; } /* '' */
.cc-icon-gplus-circled:before { content: '\e816'; } /* '' */