
//
// General
// =================================
.page-header {
  border-top: 0 none;
  padding-top: 0;
}

h1.entry-title {
  color: $grey-dark;
  font-family: $ff-source-sans-pro;
  font-size: px2rem(38);
  line-height: 0.8em;
  margin-bottom: 25px;

  @include breakpoint ($tablet-sm-layout) {
    font-size: px2rem($fz-h1);
    line-height: 1em;
  }

}
.entry-content h2,
.entry-summary h2,
.comment-content h2 {
  font-size: px2rem($fz-h2);
  line-height: 1.1667em;
  margin-bottom: 20px;
  margin-top: 0;
}

.entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
  font-size: px2rem($fz-h3);
  line-height: 1.4444em;
  margin: 0 0 20px 0;
}

.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
  font-size: px2rem($fz-h4);
  line-height: 1.5em;
  margin: 0 0 10px 0;
  text-transform: none;
}

.entry-content h5,
.entry-summary h5,
.comment-content h5,
.textwidget h5 {
  font-size: px2rem($fz-h5);
  line-height: 1.5em;
  margin: 0 0 10px 0;
}

.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
  font-size: px2rem($fz-h6);
  line-height: 1.5em;
  margin: 0 0 10px 0;
}

.entry-content,
.entry-summary,
.comment-content {

  ul, ol { margin-left: 0.9em; }
}

.global-affiliate-network{
	background-color: $blue-light;
	padding: 55px 10px;
	@include breakpoint($tablet-sm-layout) {
		padding: 55px;
	}
	h2{
		a{
			color: $white;
		}
	}
	a{
		color: $white;
		&:hover{
			color: $grey-dark;
		}
	}
	.network-map a{
		img{
			margin: 0 auto;
			height: auto;
			width: auto;
			vertical-align: bottom;
		}
	}
}

.paltform-partner {
	ul {
		display: flex;
		flex-wrap: wrap ;
		justify-content: space-between;
		flex-direction: row;
    list-style: none;
		align-content: stretch;
		@include breakpoint($desktop-lg-layout){
			&::after {
		  	content: "";
		  	flex: 0 1 18%;
			}
		}
		li {
			display: flex;
	    align-items: center;
	    justify-content: center;
	    flex: 0 1 46%;
			@include breakpoint($tablet-sm-layout) {
		    flex: 0 1 23%;
			}
			@include breakpoint($desktop-lg-layout){
		    flex: 0 1 18%;
			}
			margin-bottom: 25px;
			img {
				max-width: none;
				width: 100%;
			}
		}
	}
}

.our-programs {
	clear: both;
	background-color: $blue-light;
	padding: 55px 10px;

	@include breakpoint($tablet-sm-layout) {
		padding: 55px;
	}
	h2{
		a{
			color: $white;
		}
	}
	.inner-list {
		border-top: 1px solid $white;
		padding-top: 40px;
		ul {
			display: flex;
			flex-wrap: wrap ;
			justify-content: space-between;
			flex-direction: row;
	    list-style: none;
			align-content: stretch;
			li {
				display: flex;
		    align-items: center;
		    justify-content: flex-start;
				color:white;
		    flex: 0 1 100%;
				font-weight: bold;
				font-size: px2rem($fz-xlg);
				margin-bottom: 25px;
				@include breakpoint($tablet-sm-layout) {
			    flex: 0 1 40%;
				}
				img {
					height: 100%; //firefox bug
				}
				.program-title{
					display:block;
					color:white;
					font-weight: bold;
					font-size: px2rem($fz-xlg);
					margin-left: 30px;

				}
			}
		}
	}
}

.author-wrapper {
	margin-bottom: 20px;
	> div {
		display:inline-block;
		vertical-align: top;
	}
	.author-image {
		img {
			border-radius: 0px !important;
		}
	}
	.author-info-group {
		padding-left: 10px;
		h4 {
			color: $orange-light;
	    line-height: 1.3em;
			font-size: px2rem($fz-xsm);
			font-weight: normal !important;
      a {
        color: $orange-light;
      }
		}
		.author-date {
			font-size: px2rem($fz-xsm);
			line-height: 1.3em;
		}
	}
}

//
// Home
// =================================
body.home {

  .content-area {
    background-image: radial-gradient(ellipse farthest-corner, $white, #F4F4F4);
    padding-top: 40px;

  }

  .site-main {
    @include content-constrained();
    margin-bottom: 0;
  }

  .entry-title { @include visually-hidden(); }

  .entry-content {

    h2 {
      color: $grey-dark;
      font-size: px2rem(38);
      line-height: 0.8em;
      margin-bottom: 20px;

      @include breakpoint ($tablet-sm-layout) {
        font-size: px2rem($fz-h1);
        line-height: 1em;
      }
    }


    @include breakpoint ($desktop-sm-layout) {
      @include clearfix();

      > div:nth-child(1) {
        float: right;
        width: 45%;
      }

      > div:nth-child(2) {
        float: left;
        width: 45%;
      }
    }
  }
}

//
// Author
// =================================
body.author{
  .site-main {
    .author-page-header {
			.author-info-container{
				float: left;
				width: 100%;
				margin-right: 0px;
				@include breakpoint($tablet-sm-layout) {
			    width: 30%;
					margin-right: 35px;
				}
				display:flex;
				justify-content: space-between;
				flex-direction: row;
		    flex-wrap: wrap;
				align-content: stretch;
				margin-bottom:20px;
        background-color: $grey-lighter;
	      .author-image {
			    flex: 0 1 100%;
					img{
						width:100%;
						border-radius: 0px !important;
					}
	      }
	      .author-intro {
			    flex: 0 1 100%;
					padding: 20px 20px 20px 20px;
					position: relative;
	        background-color: $grey-lighter;
					h1{
						@include visually-hidden();
					}
	        .name {
	          color: $orange-light;
	          font-weight: bold;
	        }
	        .position {
	          color: $grey-medium;
	          font-size: px2rem($fz-xsm);
						@include font-weight(700);
	        }
	        .description{
						border-top:2px solid $white;
						padding-top:5px;
						font-size: px2rem($fz-xxsm);
						padding-bottom: 60px;
						a.more{
							@include font-weight($fw-bold);
							text-transform: uppercase;
							padding-left: 5px;
						}
	        }
	        .social-links {
						position: absolute;
				    bottom: 20px;
				    height: 25px;
				    margin-top: 10px;
				    width: 200px;
						a {
							box-shadow: none;
						}
						p {
						}
	          .genericon {
	            color: $blue-light;
	            font-size: px2rem(25px);
							&.genericon-linkedin {
								@include add-fontello-icon('\e811') {
									margin:0px;
								}
							}
							&.genericon-facebook {
								@include add-fontello-icon('\e80d') {
									margin:0px;
								}
							}
							&.genericon-twitter {
								@include add-fontello-icon('\e80c') {
									margin:0px;
								}
							}
							&.genericon-mail {
								@include add-fontello-icon('\e812') {
									margin:0px;
								}
							}
	          }
	        }
	      }
			}
			.edit-user-profile{
				padding-top: 5px;
				font-size: 1.5rem;
				padding-bottom: 40px;
			}
    }
		.bio {
			@include breakpoint($tablet-sm-layout) {
				padding-right: 55px;
			}
			.author-first-last {
			  font-size: px2rem($fz-h3);
				line-height: 0px;
				display: inline-block;
			  margin-bottom: 0.9em;
				@include font-weight($fw-bold);
			}
		}
		.post {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			flex-wrap: wrap ;
			align-content: stretch;
		  border-bottom: 1px solid $grey-lighter;
		  margin-top: 20px;
			margin-bottom: 0px;
		  padding: 30px 0 40px 0;

			.teaser-post-image {
				img{
			    margin-bottom: 20px;
				}
		    flex: 0 1 100%;
				@include breakpoint($tablet-sm-layout) {
			    flex: 0 1 30%;
				}
			}
			.entry-content {
		    flex: 0 1 100%;
				position: relative;
				@include breakpoint($tablet-sm-layout) {
			    flex: 0 1 70%;
					padding-left: 25px;
				}
				p {
					margin-bottom: 15px;
					line-height: 1.3em;
			    font-size: px2rem($fz-sm);
				}
				h3{
			    font-size: 22px;
			    line-height: 1em;
					margin-bottom: 5px;
		      a { @include link-colors($colour-link, $colour-link-hover, $colour-link, $colour-link-hover); }
				}
			}
		  .category {
		    margin-top: 0px !important;
		    font-family: $ff-roboto-condensed;
		    font-size: px2rem($fz-xxsm - 2);
		    @include font-weight($fw-bold);
		    text-transform: uppercase;

		    a { @include link-colors($colour-link-hover, $colour-tertiary, $colour-link-hover, $colour-tertiary); }
		  }

		  > h2 {
		    color: $black ;
				font-size: px2rem($fz-big) ;
		    line-height: 1em;
		    margin-bottom: 10px;
				font-family: $ff-source-sans-pro ;
				@include font-weight($fw-bold);
		  }
		}
    h3.news-rule {
      padding-top: 30px;
      font-size: 2em;
      border-top: 5px solid $blue-light;
      @include font-weight($fw-bold);
      text-transform: uppercase;
      line-height: 0.9em;
      margin-bottom: 10px;
    }
  }
}

//
// Archive
// =================================
body.archive {
	.page-header {
		margin-bottom: 0px;
	}
	h1.page-title {
	  color: $grey-dark;
	  font-family: $ff-source-sans-pro;
	  font-size: px2rem(38px) !important;
	  line-height: 0.8em;
	  margin-bottom: 25px;
	}
	article.post {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap ;
		align-content: stretch;
	  border-bottom: 1px solid $grey-lighter;
	  margin-top: 20px;
		margin-bottom: 0px;
	  padding: 30px 0 40px 0;

		.teaser-post-image {
			img{
		    margin-bottom: 20px;
			}
	    flex: 0 1 100%;
			@include breakpoint($tablet-sm-layout) {
		    flex: 0 1 30%;
			}
		}
		.entry-content {
	    flex: 0 1 100%;
			position: relative;
			@include breakpoint($tablet-sm-layout) {
		    flex: 0 1 70%;
				padding-left: 25px;
			}
			p {
				margin-bottom: 15px;
				line-height: 1.3em;
		    font-size: px2rem($fz-sm);
			}
			h3{
		    font-size: 22px;
		    line-height: 1em;
				margin-bottom: 5px;
	      a { @include link-colors($colour-link, $colour-link-hover, $colour-link, $colour-link-hover); }
			}
		}
	  .category {
	    margin-top: 0px !important;
	    font-family: $ff-roboto-condensed;
	    font-size: px2rem($fz-xxsm - 2);
	    @include font-weight($fw-bold);
	    text-transform: uppercase;

	    a { @include link-colors($colour-link-hover, $colour-tertiary, $colour-link-hover, $colour-tertiary); }
	  }
	  > h2 {
	    color: $black ;
			font-size: px2rem($fz-big) ;
	    line-height: 1em;
	    margin-bottom: 10px;
			font-family: $ff-source-sans-pro ;
			@include font-weight($fw-bold);
	  }
	}
}

//
// Program
// =================================
.page-template-page_program {

  .two-column{
    margin-bottom: 20px;
		h2 {
			margin-bottom: 15px;
		}
    @media screen and (min-width: 56.875em) {
      display: flex;
    }

    .left-column, .right-column {
      @media screen and (min-width: 56.875em) {
        width: 50%;
        float: left;
        height: auto;
        flex-grow: 1;
      }

      padding: 10px;
//      border: 1px solid $grey-dark;
//      background-color: $grey-light;
    }
		@include breakpoint($tablet-md-layout){
			.left-column {
				margin-right:40px;
			}
		}
  }

  .get-involved {

  }

}

//
// About
// =================================
.page-id-16 {
	h1{
		@include visually-hidden();
	}
	a.orange-color {
		color: $orange-darker;
    &:hover,
    &:focus {
      color: $grey-dark !important;
    }
	}
}

//
// Donate
// =================================
body.page-id-48781 {

  .form-title {
    align-items: center;
    background-image: radial-gradient(ellipse farthest-corner, #31B75B , #02A636 );
    color: $white;
    display: flex;
    justify-content: center;
    padding: 15px;

    img { margin-right: 10px; }

    h2 { margin: 0; }
  }

  .gform_wrapper {
    background: $grey-lighter;
    margin-top: 0;
    padding: 30px;
    max-width: none;
  }

  .gf_page_steps {
    @include clearfix();
    border: 0;
    color: $grey-light;
    font-size: px2rem($fz-base - 1);
    margin: 0 auto 35px auto;
    padding: 0;
    width: 220px;

    .gf_step {
      margin: 0 5px;
      opacity: 1;
      position: relative;
    }

    .gf_step_active {
      color: $grey-dark;

      .gf_step_number { background: $white; }
    }

    .gf_step_number {
      background: #DBDBDB;
      border-radius: 50%;
      display: block;
      float: none !important;
      height: 48px;
      margin: 0 auto;
      padding-top: 10px;
      text-align: center;
      width: 48px;
    }

    .gf_step_label {
      display: block;
      margin: -10px auto 0 auto;
      text-align: center;
    }
  }

  #field_3_1,
  #field_3_2,
  #field_3_3,
  #field_3_9 {
    margin-bottom: 20px;

    > label { @include visually-hidden(); }
  }

  #input_3_1,
  #input_3_9 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 0 !important;
    overflow: visible;

    > li {
      flex: 0 0 46%;
      margin: 0 0 20px 0;
      overflow: visible;

      &:last-child {
        @include add-fontello-icon('\E813') {
          left: -33px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        background: #F3F3F3;
        border-color: #d4d4d4;
        border-radius: $border-radius-default;
        border-style: solid;
        border-width: 4px 4px 4px 40px;
        margin-bottom: 0;
        position: relative;

        input {
          background: #F3F3F3;
          border: 0 none;
          width: 90%;
        }
      }
    }

    input[type="radio"] { display: none; }

    label {
      @include button('default');
      display: block;
      font-size: px2rem($fz-md) !important;
      margin-left: 0;
      padding-bottom: 0.4em;
      width: 100%;
    }

    input[type="radio"]:checked + label {
      // background: linear-gradient( 0deg, #D2D2D2, #A1A1A1 );
      // border-color: #b2b2b2;
      background: $colour-donate;
      border-color: darken($colour-donate, 5%);
      border-right-color: lighten($colour-donate, 5%);
      border-top-color: lighten($colour-donate, 20%);
      box-shadow: 1px 1px 0px 1px rgba(darken($colour-donate, 20%), 0.6);
      color: $white;
    }
  }

  #input_3_1_other,
  #input_3_9_other {
    font-size: px2rem($fz-base) !important;
    margin-bottom: 0 !important;
  }

  #input_3_2 {
    margin-left: 0% !important;
    padding-left: 0;
    text-align: center;

    > li {
      display: inline-block;
      margin: 0 20px;
    }
  }

  #input_3_3 {
    font-size: px2rem($fz-xsm);
    margin-left: 0% !important;
    padding-left: 0;
    text-align: center;

    > li { display: inline-block; }
  }

  #field_3_20 { display: none; }

  .gform_page_footer {
    border: 0 none;
    padding-top: 0;
    text-align: center;
  }

  .button[value="Next"],
  .button[value="Submit"] {
    background: url('../images/donate-button-sprite.png') no-repeat right top;
    border: 0 none;
    color: $white;
    height: 54px;
    margin: 0 10px !important;
    padding-top: 13px;
    width: 170px;

    &:hover,
    &:focus {
      background-position: right bottom;
    }
  }

  .button[value="Back"] {
    @include button('default');
    background: transparent;
    border-color: $grey-light;
    box-shadow: none;
    color: $grey-light;
    position: relative;
    top: 5px;

    &:hover,
    &:focus {
      background: transparent;
      border-color: $grey-medium;
      color: $grey-medium;
    }
  }

  ul.ways-to-give {
    color: $colour-donate;
    font-size: px2rem($fz-lg);
    @include font-weight($fw-bold);

    li {
      margin-bottom: 20px;

      &:nth-child(2n) span {
        position: relative;
        top: 12px;
      }
    }

    img { margin-right: 10px; }

    span {
      display: inline-block;
      line-height: 0.9;
    }
  }

  @include breakpoint (max-width $tablet-sm-layout - 0.001em) {

    .form-title h2 {
      font-size: px2rem($fz-xlg);
      line-height: 1em;
    }
  }

  @include breakpoint ($tablet-sm-layout) {

    .gf_page_steps {
      width: 380px;

      .gf_step {
        margin: 0 32px 0 32px;
        opacity: 1;
        position: relative;

        &:nth-child(1):after,
        &:nth-child(2):after {
          background: url('../images/grey-arrow.png') no-repeat center center;
          content: '';
          display: block;
          height: 28px;
          position: absolute;
          right: -60px;
          top: 8px;
          width: 57px;
        }

        &:nth-child(2):after { right: -67px; }
      }
    }

    #input_3_1,
    #input_3_9 {
      justify-content: center;

      > li {
        flex-basis: 100px;
        margin-bottom: 0!important;
        margin-left: 10px;
        margin-right: 10px;

        &:last-child {
          flex-basis: 144px;

          input { padding: .2em 0; }
        }
      }
    }

    ul.ways-to-give {
      @include clearfix();

      li {
        display: inline-block;
        width: 49.5%;
      }
    }
  }

  @include breakpoint ($desktop-sm-layout) {

    #input_3_1,
    #input_3_9 {

      > li {
        flex-basis: 130px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    ul.ways-to-give {

      li {
        width: 24.5%;
      }
    }
  }

  @include breakpoint ($desktop-md-layout) {

    #input_3_1,
    #input_3_9 {

      > li {

        &:last-child { flex-basis: 244px; }
      }
    }
  }
}

//News listing
.blog {
	.site-main{
     h2.txt-hero {
      @include font-weight($fw-bold);
      text-transform: uppercase;
      line-height: 0.9em;
      margin-bottom: 10px;
    }
		 h1{
			@include visually-hidden();
		}
		//regular posts only for hero and featured news styles
		//please refere to widget  class .widget_creativecommons_news_features_widget specified in _widget.scss
		.post {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			flex-wrap: wrap ;
			align-content: stretch;
	    border-bottom: 1px solid $grey-lighter;
	    margin-top: 20px;
			margin-bottom: 0px;
	    padding: 30px 0 40px 0;

			.teaser-post-image {
				img{
			    margin-bottom: 20px;
				}
		    flex: 0 1 100%;
				@include breakpoint($tablet-sm-layout) {
			    flex: 0 1 30%;
				}
			}
			.entry-content {
		    flex: 0 1 100%;
				position: relative;
				@include breakpoint($tablet-sm-layout) {
			    flex: 0 1 70%;
					padding-left: 25px;
				}
				p {
					margin-bottom: 15px;
					line-height: 1.3em;
			    font-size: px2rem($fz-sm);
				}
				h3{
			    font-size: 22px;
			    line-height: 1em;
					margin-bottom: 5px;
		      a { @include link-colors($colour-link, $colour-link-hover, $colour-link, $colour-link-hover); }
				}
			}
	    .category {
	      margin-top: 0px !important;
	      font-family: $ff-roboto-condensed;
	      font-size: px2rem($fz-xxsm - 2);
	      @include font-weight($fw-bold);
	      text-transform: uppercase;

	      a { @include link-colors($colour-link-hover, $colour-tertiary, $colour-link-hover, $colour-tertiary); }
	    }

	    > h2 {
	      color: $black ;
				font-size: px2rem($fz-big) ;
	      line-height: 1em;
	      margin-bottom: 10px;
				font-family: $ff-source-sans-pro ;
				@include font-weight($fw-bold);
	    }
		}
	}
}
.single.group-blog {
	.post {
		h1.entry-title {
			margin-bottom: 20px !important;
		}
		.single.group-blog  {
			@include visually-hidden();
		}
		.entry-content {
			float: none;
			width: 100%;
		}
	}

}

//
// 404
// =================================
body.error404 {
  height: 100%;

  .page-title {
    font-size: px2rem($fz-h2);
  }

  input {
    padding-bottom: 0;
    padding-top: 0;
  }

  @include breakpoint ($desktop-sm-layout) {

    #page {
      min-height: 100%;
      padding-bottom: 190px;

      > .site-inner { position: static; }
    }

    .site-footer-wrapper {
      bottom: 0;
      height: 190px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
