.pum-overlay {

  .pum-container {
    left: 0;

    background: radial-gradient(#FEFEFE, #727A81);

    #confetti-canvas {
      position: absolute;
      pointer-events: none;
    }

    .pum-content {
      overflow: hidden;

      img.cc-logo {
        display: block;
        left: -25%;
        margin: 0 auto -5% auto;
        max-width: 150%;
        position: relative;
        top: -10%;

        @include breakpoint($desktop-sm-layout){
          left: 0;
          margin-bottom: 0;
          max-width: 100%;
        }
      }

      .content-container {

        max-width: 90%;
        @include breakpoint($tablet-sm-layout) {
          max-width: 80%;
        }
        @include breakpoint($desktop-lg-layout){
          max-width: 1120px;
        }

        margin: auto;
        text-align: center;
        padding-bottom: 48px;

        .yellow-ribbon {
          background-color: $yellow-lighter;
          box-shadow: 0px 6px 5px -2px rgba($black, 0.4);
          color: $black;
          @include font-weight($fw-semi-bold);
          height: 94px;
          margin: 0px auto;
          padding: 20px 0px;
          position: relative;
          top: 5px;
          width: 74%;

          &::before,
          &::after {
            border: 47px solid $yellow-lighter;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            z-index: 1;
          }

          &::before {
            border-left-color: transparent;
            left: -35px;
          }

          &::after {
            border-right-color: transparent;
            right: -35px;
          }

          span {
            position: relative;
            z-index: 2;
            display: inline-block;
            &.support {
              font-size: px2rem(60);
              font-family: $ff-bebas-neue;
              margin-right: 24px;
              vertical-align: top;
              margin-top: 8px;
            }
            &.message {
              line-height: .7em;
              font-size: px2rem(22);
              text-align: left;
            }
          }

          @include breakpoint (480px) {
            font-size: px2rem(21);
            padding: 10px 5%;
          }

          @include breakpoint (620px) {
            padding: 18px 0px;
          }

          @include breakpoint ($tablet-md-layout) {
            font-size: px2rem(21);
            padding: 18px 0px;

            &::before {
              left: auto;
              right: 100%;
            }

            &::after {
              left: 100%;
              right: auto;
            }
          }

          @include breakpoint ($desktop-sm-layout) {
            font-size: px2rem(21);
            margin-bottom: 30px;
          }

          @include breakpoint ($desktop-lg-layout) {
            font-size: px2rem(21);
          }
        }

        .centre-box {
          
          margin-left: 150px;
          margin-right: 50px;
          position: relative;
          z-index: 2;

          .person-box {
            display: inline-block;
            width: 48%;
            img.person {
              z-index: 2;
            }
          }
          .motto-box {
            display: inline-block;
            margin-left: 24px;
            margin-top: 18px;
            padding-left: 40px;
            text-align: left;
            vertical-align: middle;
            width: 47%;

            .motto-wrapper {
              .motto {
                color: $black;
                font-size: px2rem(54);
                font-weight: bold;
                line-height: 1em;
              }
            }
          }
        }


        .header {
          text-align: center;
          h1 {
            color: $white;
            width: 90%;
            margin: 24px auto;
            display: inline-block;
            clear: left;
          }
        }

        color: $white;

        #gform_widget-3 {
          background: $white;
          margin-top: 40px;
          margin: auto;
          padding-top: 0px;
          border-left: 10px solid $colour-donate;
          padding-left: 24px;

          .widget-inner{
            border-left: 10px solid $colour-donate;
            border-top: none;
          }

          .gform_wrapper {

            h2 { color: $grey-dark; }

            form {
              ul.gform_fields {
                display: flex;
                justify-content: space-around;

                li {
                  display: flex;

                  .ginput_container_radio {
                    margin-top: 0px;
                  }

                  .gfield_radio {
                    padding-right: 20px;
                    margin-top: 2px;

                    label {
                      padding: .6em 1.6em;
                    }
                    > li:last-child {
                      flex-basis: 33%;

                      input {
                        width: 100%;
                      }
                    }
                  }
                }
              }
              .donate-list-item {
                padding-top: 2px;
              }
            }
          }
        }

        h4 {
          font-size: px2rem($fz-h6);
          line-height: 1.5em;
          @include font-weight($fw-semi-bold);

          .share-wins {
            font-size: 1.28em;
            font-weight: $fw-bold;
          }

          @include breakpoint ($tablet-sm-layout) {
            font-size: px2rem($fz-h4);
            line-height: 1.5em;
          }

          @include breakpoint ($desktop-sm-layout) {
            font-size: px2rem($fz-xlg);
            line-height: 1.5em;
          }
        }
      }
    }
  }
}