.cc-eoy-2017-donation-box-widget {

  background: radial-gradient(#FEFEFE, #727A81);

  img.cc-logo {
    display: block;
    left: -25%;
    margin: 0 auto -5% auto;
    max-width: 150%;
    position: relative;
    top: -10%;

    @include breakpoint($desktop-sm-layout){
      left: 0;
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  .content-container {
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;

    @include breakpoint($desktop-sm-layout){
      padding: 30px 20px 20px;
    }

    @include breakpoint($desktop-lg-layout){
      max-width: 1120px;
    }

    .yellow-ribbon {
      background-color: $yellow-lighter;
      box-shadow: 0px 6px 5px -2px rgba($black, 0.4);
      color: $black;
      @include font-weight($fw-semi-bold);
      margin: 0px auto;
      position: relative;
      top: 5px;
      width: 70%;
      height: 40px;
      padding: 10px 0px;

      &::before,
      &::after {
        border: 20px solid $yellow-lighter;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      &::before {
        border-left-color: transparent;
        left: -35px;
      }

      &::after {
        border-right-color: transparent;
        right: -35px;
      }

      span {
        display: inline-block;
        position: relative;
        z-index: 2;
      }

      .support {
        font-family: $ff-bebas-neue;
        font-size: px2rem(22);
        line-height: 1;
      }

      .message { display: none; }

      @include breakpoint($mobile-md-layout){
        height: 50px;

        &::before,
        &::after {
          border-width: 25px;
        }

        &::before { left: -40px; }
        &::after { right: -40px; }

        .support { font-size: px2rem(34); }
      }

      @include breakpoint ($tablet-sm-layout) {
        height: 56px;

        &::before,
        &::after {
          border-width: 28px;
        }

        &::before { left: -43px; }
        &::after { right: -43px; }

        .support { font-size: px2rem(40); }
      }

      @include breakpoint($desktop-sm-layout){
        height: 60px;
        margin-bottom: 20px;

        &::before,
        &::after {
          border-width: 30px;
        }

        &::before { left: -45px; }
        &::after { right: -45px; }

        .support { font-size: px2rem(48); }
      }

      @include breakpoint($desktop-md-layout){
        height: 80px;
        left: 14%;
        width: 60%;

        &::before,
        &::after {
          border-width: 40px;
        }

        .support {
          display: block;
          font-size: px2rem(25);
        }

        .message {
          display: block;
          font-size: px2rem(24);
          line-height: .7em;
          text-align: center;
          img {
            width: 124px;
          }
        }
     }

      @include breakpoint($desktop-lg-layout){
        height: 80px;
        margin-left: 16%;
        padding: 20px 0;
        width: 65%;

        .support {
          display: inline-block;
          font-size: px2rem(30);
          margin-right: 0.3em;
          top: 0.5rem;
        }

        .message {
          display: inline-block;
          font-size: px2rem(20);
          text-align: left;
        }
      }
    }

    .centre-box {
      position: relative;
      z-index: 2;
      margin: -8px auto 0;

      @include breakpoint($mobile-md-layout){
        font-size: px2rem(24);
      }
      @include breakpoint($tablet-sm-layout){
        font-size: px2rem(30);
      }
      @include breakpoint($tablet-md-layout){
        font-size: px2rem(36);
      }
      @include breakpoint($desktop-sm-layout){
        margin: -28px 10px 0 30px;
      }
      @include breakpoint($desktop-md-layout){
        bottom: 0;
        left: 40px;
        margin: 0;
        position: absolute;
        width: 270px;
        z-index: 5;
      }

      .person-box {
        display: inline-block;
        width: 48%;
        max-width: 200px;

        @include breakpoint($desktop-md-layout){
          width: 100%;
          max-width: none;
        }

        @include breakpoint($desktop-lg-layout){
          width: 100%;
        }

        img.person {
          max-height: 263px;
          z-index: 2;
        }
      }

      .motto-box {
        color: $black;
        display: inline-block;
        font-weight: bold;
        line-height: 1em;
        text-align: left;
        vertical-align: middle;
        width: 48%;
        font-size: px2rem(14);
        line-height: 1.2;
        margin: 0;

        .motto-wrapper {

          p { margin-bottom: 0px; }

          .accelerate img {
            margin-bottom: 10px;
            max-width: 240px;
          }
        }

        @include breakpoint($mobile-md-layout){
          font-size: px2rem(20);

          .motto-wrapper { padding: 0 10px; }
        }

        @include breakpoint($tablet-sm-layout){
          font-size: px2rem(22);

          .motto-wrapper { padding: 0 20px; }
        }

        @include breakpoint($desktop-sm-layout){
          margin-left: 4px;
          padding-left: 8px;
        }
        @include breakpoint($desktop-md-layout){
          display: none;
        }
      }
    }


    .header {
      text-align: center;
      h1 {
        color: $white;
        width: 90%;
        margin: 24px auto;
        display: inline-block;
        clear: left;
      }
    }

    .mobile-donate-box {
      @include clearfix;
      background-color: $white;
      border-left: 10px solid $colour-donate;
      box-shadow: 0px 6px 5px -2px rgba($black, 0.4);
      margin: -15px auto 0;
      padding: 10px;
      position: relative;
      text-align: left;
      z-index: 3;

      div {
        position: relative;

        &.amount-input-wrapper {
          float: left;
          min-width: 100px;
          width: 40%;
        }

        &:last-child {
          float: left;
          width: 60%;
        }

        .amount-input {
          border-color: #d4d4d4;
          border-radius: $border-radius-default;
          border-style: solid;
          border-width: 4px 4px 4px 26px;
          font-size: px2rem(14);
          height: 36px;
          margin-bottom: 0;
          position: relative;
          &.selected {
            border-color: $colour-donate;
            &::before { color: $white; }
          }
        }

        span {
          @include add-fontello-icon('\E813') {
            color: $colour-font;
            left: 4px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
          }
        }


        input {
          background: #F3F3F3;
          border: 0 none;
          // font-size: px2rem($fz-md) !important;
          line-height: 1.6em;
          margin-bottom: 0;
          width: 90%;
        }

        .donate-button {
          letter-spacing: normal;
          background: url('../images/donate-button-bevel-sprite.png') no-repeat right top;
          background-size: 200% 200%;
          box-shadow: none;
          border: 0 none;
          color: $white;
          font-size: px2rem($fz-md);
          line-height: 1em;
          height: 36px;
          margin: 0;
          max-width: none;
          padding: 5px 10px;
          text-transform: none;
          width: 100%;
          &:hover,
          &:focus {
            background-position: right bottom;
          }
        }
      }

      @include breakpoint($mobile-md-layout){
        width: 90%;

        form {
          margin: 0 auto;
          width: 90%;
        }
     }

      @include breakpoint($desktop-sm-layout){
        display: none;
      }
    }

    /* Same as .donate-box but using the ID so I can override GF styles */
    #gform_widget-3 {
      background: $white;
      border-top: 0 none;
      border-left: 10px solid $colour-donate;
      box-shadow: 0px 6px 5px -2px rgba($black, 0.4);
      display: none;
      padding: 20px 10px 20px 24px;
      z-index: 3;

      @include breakpoint($desktop-sm-layout){
        display: block;
      }

      @include breakpoint($desktop-md-layout){
        margin: 30px auto 0 !important;
        padding-left: 280px;
        padding-bottom: 30px;
      }

      @include breakpoint($desktop-lg-layout){
        padding-left: 310px;
      }

      .gform_wrapper {

        h2 {
          background-image: none;
          color: $black;
          display: none;
          padding: 0;

          @include breakpoint($desktop-md-layout){
            display: block;
            font-size: px2rem(27);
            line-height: 1;

            img {
              width: 154px;
            }
          }
          @include breakpoint($desktop-lg-layout){
            font-size: 3.2rem;
            padding-left: 0;
          }

          .contribute-today {
            // display: none;
            // @include breakpoint($desktop-lg-layout){
            //   display: inline;
            // }
            font-size: inherit; // undo inherited style
            img {
              width: 20%;
            }
          }

          .message {
            display: none;
            // @include breakpoint($desktop-md-layout){
            //   display: inline;
            // }
            // @include breakpoint($desktop-lg-layout){
            //   display: none;
            // }
          }
        }

        form {
            @include breakpoint($desktop-lg-layout){
              background-image: none;
              padding-left: 0;
            }

          span {
            font-weight: bold;
          }

          ul.gform_fields {

            display: block;
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            @include breakpoint($tablet-sm-layout){
              margin-left: 24px !important;
            }
            @include breakpoint($desktop-sm-layout){
              display: flex;
              justify-content: normal;
              margin-left: 2% !important;
              margin-top: 0 !important;
            }
            @include breakpoint($desktop-md-layout){
              margin-left: 0% !important;
            }
            @include breakpoint($desktop-lg-layout){
              margin-left: 0 !important;
              margin-top: 12px !important;
              margin-bottom: 0px;
            }

            > li {

              &:first-child {
                width: 92%;
                @include breakpoint($desktop-sm-layout){
                  width: 75%;
                }
              }

              .ginput_container_radio {
                margin-top: 0px;
              }

              ul.gfield_radio {
                margin: 0;

                @include breakpoint($desktop-sm-layout){
                  padding-right: 20px;
                }
                margin-top: 2px;
                width: 100%;

                label {
                    padding: .5em .7em;
                  @include breakpoint($mobile-md-layout){
                    padding: .5em .2em;
                  }
                  @include breakpoint($desktop-lg-layout){
                    padding: .6em 0.6em;
                  }
                }

                input[type="radio"]:checked+label {
                  background: $colour-donate;
                  border-color: darken($colour-donate, 5%);
                  border-right-color: lighten($colour-donate, 5%);
                  border-top-color: lighten($colour-donate, 20%);
                  box-shadow: 1px 1px 0px 1px rgba(darken($colour-donate, 20%), 0.6);
                  color: $white;
                }

                li {
                  flex-basis: auto;
                  width: 49%;

                  display: none;
                  @include breakpoint($tablet-sm-layout){
                    display: list-item;
                  }

                  @include breakpoint($desktop-sm-layout){
                    width: 28%;
                  }
                }

                li input+input {
                  margin-left: 0px;
                }

                // @include breakpoint($desktop-sm-layout){
                //   li.gchoice_12_1_2{
                //     display: none;
                //   }
                // }

                > li:last-child {
                    flex-basis: 49%;
                    display: list-item;

                  @include breakpoint($desktop-sm-layout){
                    flex-basis: 33%;
                  }
                  @include breakpoint($desktop-lg-layout){
                    height: 48px;
                  }

                  input {
                    width: 100%;
                    height: 36px;
                    @include breakpoint($desktop-lg-layout){
                      height: 40px;
                    }
                  }
                }
              }
            }
          }
          .donate-list-item {

            .gform_button[value="Donate Now"] {
              font-size: 2.3rem;
              letter-spacing: normal;
              margin-left: auto !important;
              margin-right: auto !important;
              margin-top: -12px !important;

            @include breakpoint($tablet-sm-layout){
              padding: 0 24px;
              margin-top: -24px !important;
            }
              @include breakpoint($desktop-sm-layout){
                margin: 0 10px 0 0px !important;
              }
            }
          }
        }
      }
    }
  }
}