$black: #000;

$white: #fff;

/* -- Greys -- */
$grey-darker:  #2B2B2B;
$grey-dark:    #333333;
$grey-medium:  #464646;
$grey-light:   #999999;
$grey-lighter: #E9E9E9;

/* -- Oranges -- */
$orange-darker:  #E15803;
$orange-dark:    #EC592F;
$orange-medium:  #F15640;
$orange-light:   #FB7928;
$orange-lighter: #FF8A23;

/* -- Green -- */
$green-medium: #01A635;

/* -- Blues -- */
$blue-darker:  #049BCE;
$blue-dark:    #049CCF;
$blue-medium:  #00A5C8;
$blue-light:   #00B5DA;
$blue-lighter: #01C5ED;
$blue-links:   #049BCE;

/* -- Yellows -- */
$yellow-dark:    #E0C93D;
$yellow-medium:  #EFBE00;
$yellow-light :  #FFCE10;
$yellow-lighter: #FEEB32;


/* -- Semantic section -- */
$colour-primary: $orange-dark;
$colour-secondary: $blue-light;
$colour-tertiary: $yellow-medium;
$colour-donate: $green-medium;

$colour-font: $grey-medium;
$colour-heading: $grey-dark;

$colour-link: $blue-dark;
$colour-link-hover: $grey-medium;

$colour-bg-blog: $yellow-medium;
$colour-bg-post: $blue-light;

$colour-button-primary: $orange-dark;
$colour-button-primary-hover: $orange-light;

$colour-button-secondary: $blue-light;
$colour-button-secondary-hover: $blue-lighter;

$colour-button-tertiary: $yellow-medium;
$colour-button-tertiary-hover: $yellow-light;

$colour-button-donate: $green-medium;
$colour-button-donate-hover: $orange-light;

$colour-yellow-arrow: $yellow-dark;

$colour-science: $yellow-light;
$colour-open-education: $orange-medium;
$colour-literature: $blue-lighter;
$colour-audio: $orange-lighter;

// Social Media
$colour-facebook: #3B5998;
$colour-twitter: #55ACEE;
$colour-linkedin: #007BB5;


