
$gutter: 24px;

// $tablet-layout: 768px;
// $desktop-layout: 992px;

$container-max-width: 1120px;

// From twentysixteen
$tablet-sm-layout:   44.375em; // 710px
$tablet-md-layout:  48.9375em; // 783px
$desktop-sm-layout:  56.875em; // 910px
$desktop-md-layout: 61.5625em; // 985px
$desktop-lg-layout: 75em;      // 1200px

// Additional breakpoints for cc
$desktop-xl-layout: 100em;      // 1600px
