/**
 * Font Families
 */
$ff-roboto-condensed: 'Roboto Condensed', sans-serif;
$ff-source-sans-pro: 'Source Sans Pro', sans-serif;
$ff-bebas-neue: 'Bebas Neue', sans-serif;

@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/bebasneue/BebasNeueRegular.otf") format("opentype");
}

@font-face {
    font-family:'Bebas Neue';
    font-weight: bold;
    src: url("../fonts/bebasneue/BebasNeueBold.otf") format("opentype");
}

/**
 * Font Sizes
 */
$fz-base: 19px;
$line-height-base: 1.5em;

$fz-hero: 64px;
$fz-big:  44px;
$fz-h1:   56px;
$fz-h2:   44px;
$fz-h3:   32px;
$fz-h4:   22px;
$fz-h5:   19px;
$fz-h6:   18px;

$fz-xxlg: 35px;
$fz-xlg:  28px;
$fz-lg:   24px;

$fz-md:   20px;

$fz-sm:   17px;
$fz-xsm:  16px;
$fz-xxsm: 15px;

$fz-quote: 23px;

/**
 * Font Weights
 */
$fw-light:     300;
$fw-normal:    400;
$fw-semi-bold: 600;
$fw-bold:      700;

$border-radius-default: 3px;